* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Rose', cursive;
    font-weight: 400;

}

#billtable .glyphicon-pencil {

    display: none;
}

#billtable .tabledit-edit-button {

    display: none;
}


#total {
    display:none;
}

.prodadd{
    width: 100%;
    height: inherit;
}

.container {
    text-align: center;
    
}

.container h2{
    border-bottom: 1px solid black;
    font-weight: bold;
    display: block;
}

.cust_id {
    display: none;
}

#custdet .glyphicon-pencil {

    display: none;
}

#custdet .tabledit-edit-button {

    display: none;
}

@media only screen and (max-width: 968px) {
    /* For mobile phones: */
    #custdet{
        width: 100vw;
    }
  }

